{extend name="admin@public/base_content" /}
{block name="body">}
<body>
{include file="admin@public/common" /}
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <section class="panel panel-padding">
                <form id="form1" class="layui-form layui-form-pane" action="{:url('')}">

                    {foreach name="AdminMenu" item="vo"}
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$vo.name}</label>
                        <div class="layui-input-block">
                            <input type="checkbox" value="{$vo.id}" name="" title="全部">
                            {foreach name="vo.sub" item="v"}
                            <input type="checkbox" value="{$v.id}" name="" title="{$v.name}">
                            {/foreach}
                        </div>
                    </div>
                    {/foreach}


                    <div class="layui-input-block">
                        <button class="layui-btn" jq-submit lay-filter="submit" jq-tab="true">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
{/block}
{block name="script"}
<script>
    /*$("#sel-all-info").click(function () {
        var _checked = $(this).prop('checked');
        $('.info-item').prop('checked', _checked);
    });*/
    layui.use('myform');
</script>
{/block}