{extend name="admin@public/base_content" /}
{block name="body">}
<body>
{include file="admin@public/common" /}
<body>
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">开关-开</label>
        <div class="layui-input-block">
            <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" title="开关" lay-text="1|2">
        </div>
    </div>
</form>
<input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" title="开关" lay-text="1|2">
<tbody class="repair">
<td>
    <div class="layui-form edit">
        <div class="layui-input-block" data="">
            <input type="checkbox" name="open" lay-skin="switch" lay-text="ON|OFF"/>
        </div>
    </div>
</td>
</tbody>
在浏览器查看元素成这样了
<td><input name="open" lay-skin="switch" lay-text="ON|OFF" type="checkbox">
    <div class="layui-form edit">
        <input name="open" lay-skin="switch" lay-text="ON|OFF" type="checkbox"><div class="layui-unselect layui-form-switch">
    </div>
</td>
</body>
{/block}
{block name="script"}
<script>
    layui.use('default');
</script>
{/block}